# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directories
.venv/
env/
venv/

# Configuration files with sensitive information
.env

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db